# BACKEND
# -----------------
API_PORT=
WS_PORT=

# DATABASE CONNECTION
# -----------------
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# PRISMA
# -----------------
DATABASE_URL=

# JWT
# -----------------
JWT_SECRET=