# BACKEND
# -----------------
API_PORT=3000
WS_PORT=3001


# DATABASE CONNECTION
# -----------------
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=app_db
DB_USERNAME=postgres
DB_PASSWORD=postgres4322

# PRISMA
DATABASE_URL=
